body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  width: 300px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


h1 {
  text-align: center;
  color: #3498db;
}

input[type="text"] {
  width: calc(100% - 70px);
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 8px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.editBtn,
.deleteBtn {
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.editBtn {
  background-color: #2ecc71;
  color: #fff;
}

.deleteBtn {
  background-color: #e74c3c;
  color: #fff;
}
